<div class="keyword-container">
  <div class="keyword-header">
    <div class="keyword-box">
      <div class="keyword-data">
        <span class="jobs-count">22</span>
        <br/>
        <span class="jobs-type">Current Jobs Created</span>
      </div>
      <div class="keyword-data">
        <span class="jobs-count">1239</span>
        <br/>
        <span class="jobs-type">Product data extracted</span>
      </div>
      <div class="keyword-data">
        <span class="jobs-count">7</span>
        <br/>
        <span class="jobs-type">Scheduled crawl jobs</span>
      </div>
    </div>
  </div>
  <div class="job-results">
    <div class="job-results-header">
      <span class="result-header-text">Crawl result for Keyword</span>
    </div>
    <table class="job-results-table">
      <th>Product Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>User rating</th>
      <th>Bullet points</th>
      <th>Number of images</th>
      <th>By Info</th>
      <tr>
        <td>Hystrix cristata</td>
        <td>Creating a Sidenav menu with Bootstrap</td>
        <td>$20</td>
        <td>3</td>
        <td>A Sidenav is a collapsible component to place side, often and in this case, navigation content.</td>
        <td>5</td>
        <td>Maximum strength</td>
      </tr>
    </table>
  </div>

</div>