.keyword-container {
    padding:20px;
}
.keyword-header{
    min-height: 100px;
    border: 1px solid black;
    background: #a5a3a3;
    border-radius: 10px;
    margin: auto;
}

.keyword-box {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.keyword-data {
    min-height: 70px;
    width: 220px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    background: #fffcfc8a;
    
    .jobs-count {
        font-size: 24px;
        color: #0887ad;
        font-weight: bold;
    }
    .jobs-type {
        font-size: 13px;
        padding-left: 25px;
        font-style: italic;
    }
}
.job-results {
    border: 1px solid black;
    border-radius: 5px;
    margin:10px;
    .job-results-header {
        height: 50px;
        padding: 10px;
        background: grey;
    }
    .result-header-text {
        font-size: 17px;
        font-weight: 400;
        color: white;
    }
    .job-results-table{
        border: 1px solid black;
        margin: 15px;
    }
    th {
        background: #c1bdbd;
    }
    td, th{
        border: 1px solid black;
        text-align: left;
        padding: 15px;
    }
}