.keyword-container {
    padding:20px;
    .modal-body {
        padding: 15px 15px 15px 15px !important;
    }
    .form-check-label{
        padding: 0px 10px 0px 10px;
        font-weight: normal;
    }
    .custom-select {
        height: 26px !important;
        border-radius: 0px !important;
    }
}
.add-keyword-button {
    display: flex;
    margin: 25px auto 0px auto;
    background: #6c10e8;
    color: white;
    padding: 5px;
}

a.action-icons {
    padding-right: 15px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(47, 198, 214);
}