.keyword-container {
    padding: 20px 0px 20px 10px;
    .modal-body {
        padding: 15px 35px 15px 35px !important;
    }
    .form-check-label{
        padding: 0px 10px 0px 10px;
        font-weight: normal;
    }
    .custom-select {
        height: 26px !important;
        border-radius: 0px !important;
    }
    td {
        //width: 180px;
        text-align: left;
        padding: 15px 0px 15px 10px;
        font-size:13px;
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 150px;
        }
        .status-wrapper{
            padding: 5px 15px 5px 15px;
            border-radius: 15px;
            color: white;
            font-size: 13px;
        }
    }
}
.add-keyword-button {
    // display: flex;
    // margin: 25px auto 0px auto;
    background: #6c10e8;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    font-size:12px;
}

a.action-icons {
    padding-right: 15px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(47, 198, 214);
    margin-bottom: 10px;
}
.add-modal-body {
    .col-form-label{
        font-weight: normal;
        margin-bottom:10px;
    }
    .form-control-plaintext {
        width: 100%;
        border: 1px solid #848484;
    }
}

.no-results-text {
    color:black;
    font-weight: bold;
    margin-top:20%;
    font-size: 20px;
    text-align: center;
}

.showError{
    border: 1px solid red !important;
}

.error-input{
    font-size:14px;
    color:red;
}

.confirmation-modal-content{
    .modal-header {
        display: none !important;
    }
    .confirmation-text{
        display: flex;
        justify-content: center;
    }
    .confirmation-button-group{
        display: flex;
        justify-content: center;
        text-align: center;
        .confirm-button{
            background: #6c10e8;
            color: white;
            padding: 5px 15px 5px 15px;
            font-size:12px;
            width:100px;
            margin-left:20px;
            margin-top:20px;
        }
    }
}

.confirmation-modal-content /deep/ .modal-header {
display: none!important;
}