<div class="mapjob-container">
  <div *ngIf="!isLoading">
  <h4 class="map-job-header-text">Map Breach Job Details</h4>
  <div  class="map-job-header-details row">
    <div class="col-sm-6">
      <div class="map-job-details col-sm-10">
        <span>Job Title</span>
        <span>Status</span>
      </div>
      <div class="map-job-details col-sm-10">
          <span><b>{{candidateResponse?.title}}</b></span>
          <span class="status-wrapper" [style.background]="getBackgroundColor(candidateResponse?.status)">{{candidateResponse?.status}}</span>
          <!-- <span>Ready</span> -->
      </div>
    </div>
    <div class="col-sm-6">
        <div class="map-job-details col-sm-10">
          <span>Created at</span>
          <span>Last Run at</span>
        </div>
        <div class="map-job-details col-sm-10">
            <span>{{candidateResponse?.createdAt ? createdDate(candidateResponse?.createdAt) : ''}}</span>
            <span>{{candidateResponse?.lastRunAt ? createdDate(candidateResponse?.lastRunAt) : ''}}</span>
          </div>
    </div>
  </div>
  <app-result-header  [jobResults]="jobResults"></app-result-header>
  <app-job-details *ngIf="productDetails?.length > 0" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails"
    [currentpageIndex]='currentpageIndex' [isLoading]="isLoading" (pageChange)="onPageChange($event)" [itemsTobeDisplayedPerPage]="limitPerPage" [showErrorMessage]="showErrorMessage">
    <ng-template #filedsHeader let-product>
      <td>
          <span>{{product?.asin}}</span>
      </td>
      <td>
          <span>{{product?.map}}</span>
      </td>
      <td>
          <span>{{product?.emailList}}</span>
      </td>
  </ng-template>
  </app-job-details>
</div>
  <app-loader [show]='isLoading'></app-loader>
</div>
