<div class="keyword-container">
    <app-job-details *ngIf="productDetails?.length > 0" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails" [pageCount]="totalItems"
      [currentpageIndex]='currentpageIndex' [isLoading]="isLoading" (pageChange)="onPageChange($event)" [itemsTobeDisplayedPerPage]="limitPerPage">
      <ng-template #filedsHeader let-product>
        <td>
            <span>{{product?.runId}}</span>
        </td>
        <td>
            <span>{{product?.runAt ? createdDate(product?.runAt) : ''}}</span>
        </td>
        <td>
            <span>{{product?.status}}</span>
        </td>
        <td>
            <a class="view-result" (click)="navigateToRunDetails(product)">View Result</a>
        </td>
    </ng-template>
    </app-job-details>
    <div class="no-results-text">
        <span *ngIf='showErrorMessage'>{{showErrorMessage}}</span>
    </div>
    <app-loader [show]='isLoading'></app-loader>
  </div>