<!-- <div id="chartContainer" class="brand-product-presence"></div> -->
<div class="dashboard-container">
  <div class="dashboard-header">
    <span class="dashboard-header-text">Organic keyword : </span>
    <select class="browser-default custom-select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <span class="dashboard-header-text">Over the Period</span>
    <div class="input-group date" data-provide="datepicker">
      <input type="text" class="form-control">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </div>
    </div>
    <span class="dashboard-header-text">to</span>
    <div class="input-group date" data-provide="datepicker">
      <input type="text" class="form-control">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </div>
    </div>
  </div>
  <div class="brand-product-presence">
    <div class="product-chart chart">
      <div style="display: block">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
      </div>
    </div>
    <div class="product-chart chart">
      <div style="display: block">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
      </div>
    </div>
  </div>

  <div class="competetor-analysis-wrapper">
    <div class="competetor-header">
      <span class="competetor-header-text">Competetor Analysis</span>
      <span class="radio">
        <label class="competetor-header-text">
          <input type="radio" name="optradio" checked>Brand Based </label>
        <label class="competetor-header-text">
          <input type="radio" name="optradio">Product Based</label>
      </span>
    </div>
    <div class="competetor-bar-charts">
      <div class="product-bar-chart chart">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="product-bar-chart chart">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="product-bar-chart chart">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>