<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" [class.hide-navbar]="hideNavBar">
      <ul id="sidebar_menu" class="sidebar-nav">
        <li *ngIf="!hideNavBar" class="sidebar-brand">
            <img class="app-header-name" src= "assets/logo.svg"/>
        </li>
        <li *ngIf="hideNavBar" class="sidebar-brand">
            <span id="main_icon" class="glyphicon glyphicon-align-justify" (click)="showNavBar()"></span>
        </li>
      </ul>
      <ul class="sidebar-nav" id="sidebar" [class.hide-navText]="hideNavBar">
        <li class="nav-tabs" [class.active]="isActive('home')" (click)="navigateToPage('/home')">
          <a>
            <span *ngIf="!hideNavBar" class="">Dashboard</span>
            <span class="sub_icon glyphicon glyphicon-home"></span>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('keywordjoblist')"  (click)="navigateToPage('/keywordjoblist')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Keyword Relevance Jobs</span>
            <span class="sub_icon glyphicon glyphicon-file"></span>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('mapjobslist')" (click)="navigateToPage('/mapjobslist')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Map Monitor Jobs</span>
            <span class="sub_icon glyphicon glyphicon-stats"></span>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('keywordset')" (click)="navigateToPage('/keywordset')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Organic Keywords</span>
            <span class="sub_icon glyphicon glyphicon-th-list"></span>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('schedulesList')" (click)="navigateToPage('/schedulesList')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Auto-run schedules</span>
            <span class="sub_icon glyphicon glyphicon-calendar"></span>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('alerts')" (click)="navigateToPage('/alerts')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Alerts</span>
            <span class="sub_icon glyphicon glyphicon-alert"></span>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('myprofile')" (click)="navigateToPage('/myprofile')">
          <a>
            <span  *ngIf="!hideNavBar" class="">My Profile</span>
            <span class="sub_icon glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li *ngIf="isAdmin" class="nav-tabs" [class.active]="isActive('users')" (click)="navigateToPage('/users')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Users</span>
            <span class="sub_icon glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>