<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand">
            <img class="app-header-name" src= "../assets/logo.svg"/>
        </li>
      </ul>
      <ul class="sidebar-nav" id="sidebar">
        <li class="nav-tabs" (click)="navigateToPage('/home')">
          <a>
            <span class="">Home</span>
            <span class="sub_icon glyphicon glyphicon-home"></span>
          </a>
        </li>
        <li class="nav-tabs" (click)="navigateToPage('/keywordjoblist')">
          <a>
            <span class="">Keyword Relevance Jobs</span>
            <span class="sub_icon glyphicon glyphicon-link"></span>
          </a>
        </li>
        <li class="nav-tabs" (click)="navigateToPage('/mapjobslist')">
          <a>
            <span class="">Map Monitor Jobs</span>
            <span class="sub_icon glyphicon glyphicon-stats"></span>
          </a>
        </li>
        <li class="nav-tabs" (click)="navigateToPage('/keywordset')">
          <a>
            <span class="">Organic Keywords</span>
            <span class="sub_icon glyphicon glyphicon-link"></span>
          </a>
        </li>
        <li class="nav-tabs" (click)="navigateToPage('/schedulesList')">
          <a>
            <span class="">Auto-run schedules</span>
            <span class="sub_icon glyphicon glyphicon-link"></span>
          </a>
        </li>
        <li class="nav-tabs" (click)="navigateToPage('/alerts')">
          <a>
            <span class="">Alerts</span>
            <span class="sub_icon glyphicon glyphicon-alert"></span>
          </a>
        </li>
        <li class="nav-tabs" (click)="navigateToPage('/myprofile')">
          <a>
            <span class="">My Profile</span>
            <span class="sub_icon glyphicon glyphicon-user"></span>
          </a>
        </li>
      </ul>
    </div>
  
    <!-- Page content -->
    <!-- <div id="page-content-wrapper">
      <div class="page-content inset">
        <div class="row">
          <div class="col-md-12">
            <p class="well lead">An Experiment using the sidebar template from startbootstrap.com which I integrated in my website (
              <a href="http://animeshmanglik.name">animeshmanglik.name</a>)</p>
            <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>