<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" [class.hide-navbar]="hideNavBar">
      <ul id="sidebar_menu" class="sidebar-nav">
        <li *ngIf="!hideNavBar" class="sidebar-brand">
            <img class="app-header-name" src= "assets/logo.svg"/>
        </li>
        <li *ngIf="hideNavBar" class="sidebar-brand">
            <span id="main_icon" class="glyphicon glyphicon-align-justify" (click)="showNavBar()"></span>
        </li>
      </ul>
      <ul class="sidebar-nav" id="sidebar" [class.hide-navText]="hideNavBar">
        <li class="nav-tabs" [class.active]="isActive('home')" (click)="navigateToPage('/home')">
          <a>
            <span *ngIf="!hideNavBar" class="">Dashboard</span>
            <img class="sub_icon" src="assets/icons/ico-home.svg"/>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('keywordjoblist')"  (click)="navigateToPage('/keywordjoblist')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Keyword Relevance Jobs</span>
            <img class="sub_icon" src="assets/icons/ico-keywordrelevance.svg"/>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('bulkcrawljobs')"  (click)="navigateToPage('/bulkcrawljobs')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Bulk Crawl Jobs</span>
            <img class="sub_icon" src="assets/icons/ico-bulkproductcrawls.svg"/>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('sellercrawljobs')"  (click)="navigateToPage('/sellercrawljobs')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Seller Crawl Jobs</span>
            <img class="sub_icon" src="assets/icons/ico-bulkproductcrawls.svg"/>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('mapjobslist')" (click)="navigateToPage('/mapjobslist')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Map Monitor Jobs</span>
            <img class="sub_icon" src="assets/icons/ico-mapbreachmonitor.svg"/>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('keywordset')" (click)="navigateToPage('/keywordset')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Organic Keywords</span>
            <img class="sub_icon" src="assets/icons/ico-organickeyword.svg"/>
          </a>
        </li>
        <!-- <li class="nav-tabs" [class.active]="isActive('schedulesList')" (click)="navigateToPage('/schedulesList')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Auto-run schedules</span>
            <img class="sub_icon" src="assets/icons/ico-autorunscheduled.svg"/>
          </a>
        </li> -->
        <li class="nav-tabs" [class.active]="isActive('alerts')" (click)="navigateToPage('/alerts')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Alerts</span>
            <img class="sub_icon" src="assets/icons/ico-alert.svg"/>
          </a>
        </li>
        <li class="nav-tabs" [class.active]="isActive('myprofile')" (click)="navigateToPage('/myprofile')">
          <a>
            <span  *ngIf="!hideNavBar" class="">My Profile</span>
            <img class="sub_icon" src="assets/icons/ico-profile.svg"/>
          </a>
        </li>
        <li *ngIf="isAdmin" class="nav-tabs" [class.active]="isActive('users')" (click)="navigateToPage('/users')">
          <a>
            <span  *ngIf="!hideNavBar" class="">Users</span>
            <img class="sub_icon" src="assets/icons/ico-settings.svg"/>
          </a>
        </li>
      </ul>
    </div>
  </div>