<div class="auto-schedule-container">
  <div class="job-results">
    <div class="job-results-header">
      <span class="result-header-text">Autorun Schedules</span>
    </div>
    <table class="job-results-table">
      <th>Schedule Name</th>
      <th>Time Definition</th>
      <th>Scheduled for</th>
      <th>Status</th>
      <th>Last run at</th>
      <th>Next run at</th>
      <tr>
        <td>Everyday runner</td>
        <td>Everyday at 6:00</td>
        <td>Map Breach Crawls</td>
        <td>Active</td>
        <td>Tue, 20 Aug 2019 @6:00:00 AM</td>
        <td>Wed, 21 Aug 2019 @6:00:00 AM</td>
      </tr>
      <tr>
          <td>Weekly runner</td>
          <td>Everyday Tuesday at 10:00</td>
          <td>Keyword relevance crawls</td>
          <td>Active</td>
          <td>Tue, 13 Aug 2019 @6:00:00 AM</td>
          <td>Wed, 27 Aug 2019 @10:00:00 AM</td>
        </tr>
    </table>
  </div>
  <div class="job-results">
    <div class="job-results-header">
      <span class="result-header-text">Job - Schedule Binding</span>
      <button class="add-schedule-button">New Binding</button>
    </div>
    <table class="job-results-table">
      <th>Schedule Name</th>
      <th>Jobs Bounded</th>
      <th>Actions</th>
      <tr>
        <td>Everyday runner</td>
        <td>Sample Job, My First Job, product data extractor</td>
        <td>
          <a>Edit</a>
          <a>Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>