<div class="keyword-container">
  <app-result-header *ngIf="!isSummarResultsLoading" [jobResults]="jobResults"></app-result-header>
  <app-job-details *ngIf="productDetails?.length > 0" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails" [pageCount]="totalItems"
    [currentpageIndex]='currentpageIndex' [isLoading]="isLoading" (pageChange)="onPageChange($event)">
    <ng-template #filedsHeader let-product>
      <td>
          <span>{{product?.productTitle}}</span>
      </td>
      <td>
          <span>{{product?.description}}</span>
      </td>
      <td>
          <span>{{product?.price}}</span>
      </td>
      <td>
          <span>{{product?.userRating}}</span>
      </td>
      <td>
          <span *ngIf="product?.bulletPoints">
              <ul *ngFor="let point of product?.bulletPoints">
                  <li>{{point}}</li>
              </ul>
          </span>
      </td>
      <td>
          <span>{{product?.imagesAndVideosCount}}</span>
      </td>
      <td>
         <span>{{product.byInfo}}</span>
      </td>
  </ng-template>
  </app-job-details>
  <app-loader [show]='productDetails?.length === 0'></app-loader>
</div>