<div class="app-login-page">
  <!-- <img class="login-background" src = "../assets/images/login-bg.png" /> -->
  <div *ngIf="!showForgotPasswordPage" class="login-form">
    <form (submit)="login()" method="post">
      <h3 class="text-center"><img class="login-logo" src= "../assets/logo.svg"/></h3>
      <!-- <h3 class="text-center signin-text">Sign In To Admin</h3> -->
      <div class="form-group">
        <!-- <label>Username</label> -->
        <br>
        <input type="text" class="form-control" [(ngModel)]="userName" placeholder="User Name" required="required" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <!-- <label>Password</label> -->
        <br>
        <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="required" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="clearfix forgot-buttons">
          <label class="pull-left checkbox-inline">
            <input type="checkbox" name="checkbox" [(ngModel)]="isRemberMeChecked"> Keep me signed in </label>
          <a (click)= "navigateTo('forgotPassword')" class="pull-right forgot-text">Forgot password?</a>
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </div>
    </form>
    <!-- <p class="text-center"><a href="#">Create an Account</a></p> -->
  </div>
  <app-forgot-password *ngIf="showForgotPasswordPage"></app-forgot-password>
</div>