<div class="job-results">
  <div class="job-results-header">
    <span class="result-header-text" *ngIf="headerTitle">{{headerTitle}}</span>
  </div>
  <div class="search-wrapper">
    <button class="create-job" *ngIf="showCreateButton" (click)="createNewJob()" data-toggle="modal" data-target="#showModalCenter">Create New Job</button>
    <span class="search-input-text" *ngIf="showCreateButton">Search:&nbsp;&nbsp;
      <input type="text" class="search-input" />
    </span>
  </div>
  <table class="job-results-table" *ngIf="jobHeaders?.length > 0 && productDetails?.length > 0">
    <ng-container *ngFor="let header of jobHeaders">
      <th>{{header}}</th>
    </ng-container>
    <tbody>
      <tr *ngFor="let product of productDetails">
        <ng-container *ngFor="let key of keys">
          <td>
            <span *ngIf="key !== 'status' && key !== 'showActions'">{{product[key]}}</span>
            <span *ngIf="key === 'status' " class="status-wrapper" [style.background]="getBackgroundColor(product, key)">{{product[key]}}</span>
            <span *ngIf="key === 'showActions'">
              <a class="action-icons glyphicon glyphicon-flash"></a>
              <a class="action-icons glyphicon glyphicon-eye-open"></a>
              <a class="action-icons glyphicon glyphicon-th-large"></a>
              <a class="action-icons glyphicon glyphicon-trash"></a>
              <!-- <ng-content select=".action-items"></ng-content> -->
            </span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>