<div class="competetor-bar-charts">
  <div class="product-bar-chart chart">
    <div style="display: block">
      <!-- <canvas baseChart [datasets]="barChartImagesData" [labels]="barChartBrandLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas> -->
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType" [colors]="colors" style="height: 300px; width: 360px;">
    </canvas>
    </div>
  </div>
  <div class="product-bar-chart chart">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" [colors]="colors" style="height: 300px; width: 360px;">
      </canvas>
    </div>
  </div>
  <div class="product-bar-chart chart">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" [colors]="colors" style="height: 300px; width: 360px;">
      </canvas>
    </div>
  </div>
</div>