.competetor-bar-charts{
    // display:flex;
    // justify-content: space-between;
    // padding: 10px 10px 10px 0px;
    // background: white;
    // @media (min-width: 768px) and ( max-width: 1024px ){
    //     display:block;
    // }
    .product-bar-chart {
        // background: #f7f7f7;
        // margin-right: 5px;
        padding-left: 0px !important;
        // @media (min-width: 768px) and ( max-width: 1024px ){
        //    width:100%;
        //    margin-bottom: 20px;
        // }
    }
}

:host ::ng-deep canvas .chartjs-render-monitor {
    height: 300px;
    width: 400px !important;
}