.page-content{
    padding-left: 250px;
}
.page-content-header{
    height: 65px;
    line-height: 60px;
    font-size: 18px;
    //border-bottom: 1px solid black;
    margin: auto;
    padding: 10px;
}
#profile_icon {
    float: right;
    font-size: 22px;
    padding-right: 20px;
    padding-top: 20px;
}

.app-wrapper {
    height: auto !important;
}

.body-container {
    min-height: calc(100vh - 264px);
    @media (max-width: 768px) {
      min-height: calc(100vh - 300px);
    }
    & > :nth-child(2) {
      width: 100%;
      display:block;  /* for IE 10 */ 
      height: 100%;
    }
    .app-header {
        // border-bottom: 2px solid black;
        background: white;
        // width: 100%;
        top: 0;
        position: sticky;
        z-index: 999;
        padding-left:250px;
        -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
        .app-header-name {
            color: black;
            font-size: 20px;
            font-weight: bold;
        }
        .menu-toggle-wrapper{
            margin-left:20px;
            #menu-toggle:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    #main_icon
    {
       // float:right;
       padding-right: 10px;
       padding-top: 20px;
       font-size: 20px;
       color: black;
       cursor: pointer;
    }
  }