<div class="app-wrapper">
  <main class="body-container">
    <app-navbar (clickTab)="navigateToPage($event)"></app-navbar>
    <div class="app-header">
        <span class="menu-toggle-wrapper">
          <a id="menu-toggle" (click)="viewToggle()">
            <span id="main_icon" class="glyphicon glyphicon-align-justify"></span>
            <!-- <img class="app-header-name" src= "../assets/logo.svg"/> -->
          </a>
        </span>
        <span class="page-content-header">
          <span id="profile_icon" class="glyphicon glyphicon-user"></span>
        </span>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>