<div class="keyword-container">
    <app-job-details *ngIf="!isLoading" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails"
        [showCreateButton]="true" (createJob)="addNewKeyword($event)" [pageCount]="totalItems"
        [currentpageIndex]='currentpageIndex' [isLoading]="isLoading" (pageChange)="onPageChange($event)" [itemsTobeDisplayedPerPage]="limitPerPage">
        <ng-template #filedsHeader let-product>
            <td>
                <span>{{product?.keyword}}</span>
            </td>
            <td *ngIf="isAdmin">
                <span *ngIf="product?.boundedVendorName">{{product?.boundedVendorName}}</span><br/><br/>
                 <a class="bind-vendor" *ngIf="product?.boundable" (click)="boundVendor(product)" data-toggle="modal" data-target="#showModalCenter">Bind Vendor</a>
           </td>
            <td>
                 <span>{{product?.createdAt ? createdDate(product?.createdAt) : ''}}</span>
            </td>
            <td>
                <span>{{product?.updatedAt ? createdDate(product?.updatedAt) : ''}}</span>
            </td>
            <td>
                <span class="status-wrapper" [style.background]="getBackgroundColor(product)">{{product?.active ? 'Active' : 'Inactive'}}</span>
            </td>
            <td>
                <!-- Uncomment it when you found the icons -->
                <!-- <span *ngFor="let line of actionItems; let i = index;">
                    <a class="action-icons glyphicon {{line?.icon}}" (click)="navigateTo(product, i)"></a>
                </span> -->
                <span>
                    <i (click)="navigateTo(product, 0)" class="action-icons glyphicon" [class.glyphicon-pencil]="checkStatus(product?.active)" data-toggle="modal" data-target="#showModalCenter"></i>
                    <ui-switch *ngIf="!product?.disableJob" class="action-icons" (change)="navigateTo(product, 1)" [checked]="product?.active"></ui-switch>   
                    <!-- <img *ngIf="product?.disableJob" class="loader-animation" src="assets/icons/loading.svg" /> -->
                    <img [hidden]="!product?.disableJob" class='disable-loader' src="assets/images/spinner.svg">
                    <img (click)="navigateTo(product, 2)" class="action-icons"  [hidden]="!checkStatus(product?.active)" src="assets/images/icon-flash.png" />
                    <img class="action-icons" (click)="navigateTo(product, 3)" [hidden]="!checkStatus(product?.active)" src="assets/images/icon-timer.png"/>
                    <!-- <i class="action-icons glyphicon" (click)="navigateTo(product, 4)" [class.glyphicon-time]="checkStatus(product?.active)" ></i> -->
                    <ui-switch *ngIf="!product?.disableAutorun && product?.active" class="action-icons" (change)="navigateTo(product, 4)" [checked]="product?.scheduled"></ui-switch> 
                    <img [hidden]="!product?.disableAutorun" class='disable-loader' src="assets/images/spinner.svg">
                    <i class="action-icons glyphicon" (click)="navigateTo(product, 5)" [class.glyphicon-trash]="checkStatus(product?.active)"></i>
                </span>
            </td>
        </ng-template>
    </app-job-details>

  <app-upstart-modal *ngIf="createNewKeyword" [modalTitle]="modalTitle">
    <div class="add-modal-body" id="create-modal">
        <form *ngIf="!jobCreated" (ngSubmit)="createOrganicKeyword()" class="create-organic-keyword-section">
            <div class="form-group">
                <span *ngIf='showErrorMessage && !isLoading'>{{showErrorMessage}}</span>
                <label for="organicKeywordTitle" class="organic-label"><span class="error-input">*&nbsp;</span>Job Title</label>
                <div>
                    <textarea name="organicKeywordTitle" class="organic-text-input" id="organicKeywordTitle" [(ngModel)]="organicKeywordTitle" required [ngModelOptions]="{standalone: true}" [class.showError]="!organicKeywordTitle && showError"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="save-button">Save Job</button>
            </div>
        </form>
        <div *ngIf="jobCreated && !updateProductId">
            <span>Job Created Successfully</span>
        </div>
        <div *ngIf="jobCreated && updateProductId">
            <span>Job Updated Successfully</span>
        </div>
    </div>
</app-upstart-modal>

<app-upstart-modal *ngIf="bindVendor" [modalTitle]="'Bind Vendor'">
    <div class="add-modal-body" id="create-modal">
        <form *ngIf="!jobCreated" (ngSubmit)="bindVendorToJob()" class="create-organic-keyword-section">
          <div #defaultTrialCollection>
                <div class="collection-values" ngui-auto-complete [source]="vendorNames" (valueChanged)="valueChanged($event)">
                    <label class="no-overlap" for="collection-Name"><span class="error-input">*&nbsp;</span>Select Vendor</label><br/>
                    <input [class.showError]="!selectedVendorName && showError" id="collection-Name" type="text" [ngClass]="{'submitted': submitted,'ng-invalid': (selectedVendorName?.length == 0 || vendorNames.indexOf(selectedVendorName) === -1 )}"
                    placeholder="Select Vendor" [(ngModel)]="selectedVendorName" [ngModelOptions]="{standalone: true}"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="save-button">Save Job</button>
            </div>
        </form>
        <div *ngIf="jobCreated">
            <span>Vendor added Successfully</span>
        </div>
    </div>
</app-upstart-modal>
</div>
<app-loader [show]='isLoading'></app-loader>
<div class="no-results-text">
    <span *ngIf='showErrorMessage && !isLoading'>{{showErrorMessage}}</span>
</div>

<app-top-notification></app-top-notification>