.loader {
    width: 50px;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* top: 30px; */
    height: 100%;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: table;
}