.run-result-container{
    padding: 20px 10px 20px 10px;
    td {
        //width: 180px;
        text-align: left;
        padding: 15px 10px 15px 15px;
        font-size:13px;
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 150px;
        }
        .product-title,
        .product-description{
                overflow: hidden;
                position: relative;
                text-decoration:none;
                line-height: 1.2;
                padding-right: 1em;
                height: 50px;
                display: block;
                // text-align: justify;
        }
    }
    .no-results-text {
        color:black;
        font-weight: bold;
        margin-top:20%;
        font-size: 20px;
        text-align: center;
    }
}