<div class="keyword-container">
    <!-- <app-result-header *ngIf="!isMapSummaryLoading" [jobResults]="jobResults"></app-result-header> -->
    <app-job-details *ngIf="!isLoading" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails"
        [showCreateButton]="true" (createJob)="addNewKeyword($event)" [pageCount]="totalItems" [showSearch]="true" [currentpageIndex]='currentpageIndex'
        [isLoading]="isLoading" (pageChange)="onPageChange($event)" [itemsTobeDisplayedPerPage]="limitPerPage">
        <ng-template #filedsHeader let-product>
            <td>
                <span>{{product?.title}}</span>
            </td>
            <td>
                <span class="status-wrapper" [style.background]="getBackgroundColor(product)">{{product?.status}}</span>
            </td>
            <td>
                <span>{{product?.lastRunAt ? createdDate(product?.lastRunAt): ''}}</span>
            </td>
            <td>
                <span>{{product?.createdAt ? createdDate(product?.createdAt): ''}}</span>
            </td>
            <td>
                <span>{{product?.createdBy ? product?.createdBy: ''}}</span>
            </td>
            <td>
                <span>{{product?.vendor?.name ? product.vendor.name: ''}}</span>
            </td>
            <td>
                <a class="action-icons glyphicon glyphicon-flash" (click)="navigateTo(product, 0)" title="Run Job"></a>
                <a class="action-icons glyphicon glyphicon-eye-open" (click)="navigateTo(product, 1)" title="View job results"></a>
                <a class="action-icons glyphicon glyphicon-tasks" (click)="navigateTo(product, 2)" title="View last run results"></a>
                <a class="action-icons glyphicon glyphicon-time" (click)="navigateTo(product, 3)" title="View run history"></a>
                <a data-toggle="modal" data-target="#showModalCenter" class="action-icons glyphicon glyphicon-trash" (click)="navigateTo(product, 4)" title="Delete Job"></a>
            </td>
        </ng-template>
    </app-job-details>

    <app-upstart-modal *ngIf="createNewJob" [modalTitle]="modalTitle">
        <div class="add-modal-body">
            <form>
                <div *ngIf="jobCreationError">
                        <span class="mandatory-field">{{jobCreationError}}</span>
                </div>
                <div *ngIf="!jobCreated">
                    <div class="form-group row">
                        <label for="jobTitle" class="col-sm-4 col-form-label"><span class="mandatory-field">*&nbsp;</span>Job Title
                        </label>
                        <div class="col-sm-8">
                            <input [class.error-input]="!jobTitle && showError" type="text" class="form-control-plaintext" id="jobTitle" [(ngModel)]="jobTitle" [ngModelOptions]="{standalone: true}"
                                required>
                        </div>
                    </div>
                    <div class="form-group row form-group-file">
                        <label for="jobFile" class="col-sm-4 col-form-label"><span class="mandatory-field">*&nbsp;</span>Select excel file to upload
                        </label>
                        <!-- <input type="file" accept="application/vnd.ms-excel" id="jobFile" style="display: none;">
          <button class="btn btn-default btn-file">Choose..</button> -->
                        <label class="btn btn-default btn-file browse-button">
                            Browse
                            <input [class.error-input]="!fileName && showError" type="file" id="jobFile" (change)="handleFileInput($event.target.files)" style="display: none;">
                        </label>
                        <span class="upload-filename" *ngIf="fileName">{{fileName}}</span>
                        <span class="mandatory-field" *ngIf="!fileName && showError">&nbsp;&nbsp;File is mandatory</span>
                    </div>
                    <div>
                        <span class="file-message">Excel file should contain AslNs, their map and notification emails for each in predefined format</span>
                    </div>

                    <div class="form-group-buttons">
                        <button type="submit" class="save-button" (click)="createNewMapJob()">Save Job</button>
                        <!-- <button type="submit" class="close-button" (click)="closeModal()">Close</button> -->
                    </div>
                </div>
                <div *ngIf="jobCreated">
                    <span>Job Created Successfully</span>
                </div>
            </form>
        </div>
    </app-upstart-modal>
    <app-upstart-modal class="confirmation-modal-content" *ngIf="showConfirmation">
        <div class="add-modal-body" id="create-modal">
            <div>
                <span class="confirmation-text">Are you sure want to delete ?</span>
            </div>
            <div class="form-group confirmation-button-group">
                <button type="submit" class="confirm-button" (click)="deleteJob()" data-dismiss="modal">Yes</button>
                <button type="submit" class="confirm-button" data-dismiss="modal">No</button>
            </div>
        </div>
    </app-upstart-modal>
    <app-loader [show]='isLoading'></app-loader>
    <div class="no-results-text">
        <span *ngIf='showErrorMessage && !isLoading'>{{showErrorMessage}}</span>
    </div>
</div>
<app-top-notification></app-top-notification>