<div class="profile-container">
  <!-- Profile Details -->
  <div class="profile-wrapper">
    <div class="profile-header">
      <span class="profile-name">John Doe's Profile</span>
    </div>
    <div>
      <ul class="list-elements">
        <li class="profile-details">
          <p class="lable-details">Email</p>
          <p class="label-values">vanama.prashanth@gmail.com</p>
        </li>
        <li class="profile-details">
          <p class="lable-details">First Name</p>
          <p *ngIf="!editFirstName" class="label-values">Prashanth
            <a (click)="editDetails('firstName')" class="edit_icon glyphicon glyphicon-edit"></a>
          </p>
          <input *ngIf="editFirstName" type="text" class="label-values" [(ngModel)]='firstName'>
        </li>
        <li class="profile-details">
          <p class="lable-details">Last Name</p>
          <p *ngIf="!editLastName" class="label-values">Vanama
            <a (click)="editDetails('lastName')" class="edit_icon glyphicon glyphicon-edit"></a>
          </p>
          <input *ngIf="editLastName" type="text" class="label-values" [(ngModel)]='firstName'>
        </li>
        <li class="profile-details">
          <p class="lable-details">Role</p>
          <p class="label-values">USER</p>
        </li>
      </ul>
    </div>
    <div class="profile-buttons">
      <button type="button" class="save-button" [disabled]="!editFirstName && !editLastName">Save Changes</button>
      <button type="button" class="restore-button" [disabled]="!editFirstName && !editLastName" (click)="restoreDetails()">Restore Originals</button>
    </div>
  </div>
  <!-- Password Change -->
  <form class="profile-wrapper" (ngSubmit)="changePassword()">
    <div class="profile-header">
      <span class="profile-name">Change Password</span>
    </div>
    <div>
      <ul class="list-elements">
        <li class="profile-details">
          <p class="lable-details">Current password
            <span class="required-field">*</span>
          </p>
          <input type="password" [(ngModel)]="currentPassword" class="label-values input-label" required>
        </li>
        <li class="profile-details">
          <p class="lable-details">New Password
            <span class="required-field">*</span>
          </p>
          <input type="password" [(ngModel)]="newPassword" class="label-values input-label" required>
        </li>
        <li class="profile-details">
          <p class="lable-details">Confirm Password
            <span class="required-field">*</span>
          </p>
          <input type="password" [(ngModel)]="confirmPassword" class="label-values input-label" required>
        </li>
      </ul>
    </div>
    <div class="profile-buttons">
      <button type="button" type="submit" class="save-button" disabled (click)="changePassword()">Change Password</button>
      <button type="button" class="restore-button">Reset Form</button>
    </div>
  </form>
</div>