<!-- <div id="chartContainer" class="brand-product-presence"></div> -->
<h3 *ngIf="headerTitle && keyword" class="dashboard-header-keyword-text">{{headerTitle}} : {{keyword}} </h3>
<div class="pie-chart-container">
  <div class="dashboard-header">
    <div *ngIf="showDatePicker" class="date-container">
      <span class="dashboard-header-text">From</span>
      <input class="form-control date-inputs" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromDate" ngbDatepicker #d1="ngbDatepicker" #c1="ngModel" [maxDate]="toDate" [class.error-date]="!c1.status && showDateError">
      <button class="btn btn-outline-secondary glyphicon glyphicon-calendar" (click)="d1.toggle()" type="button"></button>
      <span class="dashboard-header-text">To</span>
      <input class="form-control date-inputs" [class.error-date]="!c2.status && showDateError" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="toDate" ngbDatepicker #d2="ngbDatepicker" #c2="ngModel" [maxDate]="toDate">
      <button class="btn btn-outline-secondary glyphicon glyphicon-calendar" (click)="d2.toggle()" type="button"></button>
    </div>
    <button *ngIf="showDatePicker" class="apply-button" (click)="getData()">
      <span *ngIf="isBrandDataAvailable">Apply</span>
      <img *ngIf="!isBrandDataAvailable" class="loader center" src="assets/icons/spin-white.svg"/>
    </button>
  </div>
  <div class="pie-chart-section">
    <app-summary-dashboard *ngIf="isBrandDataAvailable" [pieChartData]="pieChartData" [pieChartOptions1]="pieChartOptions1" [pieChartOptions2]="pieChartOptions2"></app-summary-dashboard>
    <app-loader [show]='!isBrandDataAvailable'></app-loader>
  </div>
</div>
<div class="bar-chart-container">
  <div class="competetor-analysis-wrapper">
    <div class="competetor-header">
      <h4 class="competetor-header-text">Competetor Analysis</h4>
      <!-- <div>
        <span (click)="selectCategory('brand')" [class.active]="selectedCategory === 'brand' " class="analytics-category" >Brand wise</span>
        <span (click)="selectCategory('product')" [class.active]="selectedCategory === 'product' " class="analytics-category">Product wise</span>
      </div> -->
      <!-- <span class="radio">
        <label class="competetor-header-text">
          <input type="radio" name="optradio" checked>Brand Based </label>
        <label class="competetor-header-text">
        <input type="radio" name="optradio">Product Based</label>
      </span> -->
    </div>
    <div class="bar-graph-section">
      <app-barcharts *ngIf="isBrandDataAvailable" [barChartData]="barChartData"></app-barcharts>
      <app-loader [show]='!isBrandDataAvailable'></app-loader>
    </div>
  </div>
</div>