<div class="login-form">
    <form #forgotPasswordForm="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="resetPassword(forgotPasswordForm.valid)"
    novalidate>
      <h2 class="text-center forgotpassword-text">Forgot Password</h2>
      <div class="form-group">
        <label>Please provide the registered email address</label>
        <br>
        <input type="email" class="form-control" [(ngModel)]="email" required="required" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Send me the password</button>
      </div>
    </form>
</div>