<div class="forgot-password-container">
  <form *ngIf="!isPasswordSent" [formGroup] = "forgotPasswordForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="resetPassword(forgotPasswordForm.valid)"
    novalidate>
    <h3 class="text-center">
      <img class="login-logo" src="../assets/logo.svg" />
    </h3>
    <div class="forgot-password-wrapper">
      <h2 class="text-center">Forgot Password</h2>
      <div class="form-group">
        <label class="forgotpassword-text">Please provide the registered email address</label>
        <br>
        <input type="text" class="form-control" formControlName="email" required placeholder="Enter email address">
        <div *ngIf="submitted && forgotForm.email.errors" class="invalid-feedback">
            <div *ngIf="forgotForm.email.errors.required">Email is required</div>
            <div *ngIf="forgotForm.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Send me the password</button>
      </div>
    </div>
  </form>
  <div *ngIf="isPasswordSent" class="password-reset-msg-container">
    <span class="password-reset-msg">{{passwordResetMsg}}</span>
  </div>
</div>