<div class="forgot-password-container">
  <form #forgotPasswordForm="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="resetPassword(forgotPasswordForm.valid)"
    novalidate>
    <h3 class="text-center">
      <img class="login-logo" src="../assets/logo.svg" />
    </h3>
    <div class="forgot-password-wrapper">
      <h2 class="text-center">Forgot Password</h2>
      <div class="form-group">
        <label class="forgotpassword-text">Please provide the registered email address</label>
        <br>
        <input type="email" class="form-control" [(ngModel)]="email" required="required" placeholder="Enter email address"[ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Send me the password</button>
      </div>
    </div>
  </form>
</div>