<div class="schedule-container">
  <app-job-details *ngIf="productDetails?.length > 0 && !isLoading" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails"
    [showCreateButton]="false" [pageCount]="totalItems" [showSearch]="true" [currentpageIndex]='currentpageIndex' [isLoading]="isLoading"
    (pageChange)="onPageChange($event)" [itemsTobeDisplayedPerPage]="limitPerPage">
    <ng-template #filedsHeader let-product>
      <td>
        <span>{{product?.runAt ? createdDate(product?.runAt) : ''}}</span>
      </td>
      <td>
        <span class="status-wrapper" [style.background]="getBackgroundColor(product)">{{product?.status === 'Successfully Completed' ? 'Success' : 'Failure'}}</span>
      </td>
      <td>
         <a class="action-icons glyphicon glyphicon-tasks"></a>
      </td>
    </ng-template>
  </app-job-details>
  <div class="no-results-text" *ngIf="showErrorMessage && !isLoading">
    <span>{{showErrorMessage}}</span>
  </div>
  <app-loader [show]="isLoading"></app-loader>
</div>