
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;  
    font-family: 'tf-icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;  
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-order-history:before {
    content: "\e919";
  }
  .icon-download:before {
    content: "\e918";
  }
  .icon-shopping-cart:before {
    content: "\e917";
  }
  .icon-organisations:before {
    content: "\e916";
  }
  .icon-data-requests:before {
    content: "\e915";
  }
  .icon-facebook:before {
    content: "\e900";
  }
  .icon-twitter:before {
    content: "\e901";
  }
  .icon-youtube:before {
    content: "\e902";
  }
  .icon-pinterest:before {
    content: "\e903";
  }
  .icon-ip:before {
    content: "\e904";
  }
  .icon-manage-institution:before {
    content: "\e905";
  }
  .icon-manage-users:before {
    content: "\e906";
  }
  .icon-edit:before {
    content: "\e907";
  }
  .icon-pages:before {
    content: "\e908";
  }
  .icon-pointer:before {
    content: "\e909";
  }
  .icon-open-access:before {
    content: "\e90a";
  }
  .icon-site-admin:before {
    content: "\e90b";
  }
  .icon-licenses:before {
    content: "\e90c";
  }
  .icon-product-bundle:before {
    content: "\e90d";
  }
  .icon-calendar:before {
    content: "\e90e";
  }
  .icon-email:before {
    content: "\e90f";
  }
  .icon-citation:before {
    content: "\e910";
  }
  .icon-password:before {
    content: "\e911";
  }
  .icon-processing:before {
    content: "\e912";
  }
  .icon-delete:before {
    content: "\e913";
  }
  .icon-marc-records1:before {
    content: "\e914";
  }
  .icon-user:before {
    content: "\e91f";
  }
  .icon-search:before {
    content: "\e920";
  }
  .icon-down:before {
    content: "\e921";
  }
  .icon-up:before {
    content: "\e922";
  }
  .icon-left:before {
    content: "\e923";
  }
  .icon-right:before {
    content: "\e924";
  }
  .icon-check:before {
    content: "\e925";
  }
  .icon-cancel:before {
    content: "\e926";
  }
  .icon-check-circle:before {
    content: "\e927";
  }
  .icon-cancel-circle:before {
    content: "\e928";
  }
  .icon-info:before {
    content: "\e929";
  }
  .icon-error:before {
    content: "\e92a";
  }
  .icon-image:before {
    content: "\e92b";
  }
  .icon-external-link:before {
    content: "\e92c";
  }
  .icon-dashboard:before {
    content: "\e92d";
  }
  .icon-entitlements:before {
    content: "\e92e";
  }
  .icon-acquisition-history:before {
    content: "\e92f";
  }
  .icon-news-recommendations:before {
    content: "\e930";
  }
  .icon-reporting:before {
    content: "\e931";
  }
  .icon-settings:before {
    content: "\e932";
  }
  .icon-notifications:before {
    content: "\e933";
  }
  .icon-institution:before {
    content: "\e934";
  }
  .icon-help-faq:before {
    content: "\e935";
  }
  .icon-logout:before {
    content: "\e936";
  }
  .icon-filter:before {
    content: "\e937";
  }
  .icon-sort:before {
    content: "\e938";
  }
  .icon-arrow-down:before {
    content: "\e939";
  }
  .icon-arrow-up:before {
    content: "\e93a";
  }
  .icon-arrow-left:before {
    content: "\e93b";
  }
  .icon-arrow-right:before {
    content: "\e93c";
  }
  .icon-link:before {
    content: "\e93d";
  }
  