<div class="home-container">
    <app-result-header [jobResults]="jobResults1" (redirectEmit)="redirectToPages($event)"></app-result-header>
    <app-result-header-dup [jobResults]="jobResults2" (redirectEmit)="redirectToPages($event)"></app-result-header-dup>
    <div class="home-recent-records">
        <app-job-details class="col-sm-12 col-md-12 col-lg-7" *ngIf="productDetails?.length > 0" [headerTitle]="headerTitle" [jobHeaders]="jobHeaders"
            [productDetails]="productDetails" [showCreateButton]="false" [showSearch]="false" (createJob)="addNewKeyword($event)"
            [pageCount]="totalItems" [currentpageIndex]='currentpageIndex' [isLoading]="isLoading" (pageChange)="onPageChange($event)"
            [showDownloadButton]="true">
            <ng-template #filedsHeader let-product>
                <td>
                    <span>{{product?.asin}}</span>
                </td>
                <td>
                    <span>{{product?.map}}</span>
                </td>
                <td>
                    <span>{{product?.seller}}</span>
                </td>
                <td>
                    <span>{{product?.sellingPrice}}</span>
                </td>
                <td>
                    <span>{{product?.variation}}</span>
                </td>
                <!-- <td>
                    <span class="status-wrapper" [style.background]="getBackgroundColor(product)">{{product?.status}}</span>
                </td> -->
                <!-- <td>
                    <span>{{product?.lastRunAt | date: 'MMM d, y, h:mm:ss a'}}</span>
                </td>
                <td>
                    <span>{{product?.createdAt | date: 'MMM d, y, h:mm:ss a'}}</span>
                </td> -->
                <td>
                    <span *ngFor="let line of actionItems; let i = index;">
                        <a class="action-icons glyphicon {{line?.icon}}" (click)="navigateTo(product, i)"></a>
                    </span>
                </td>
            </ng-template>
        </app-job-details>
        <div class="col-sm-12 col-md-12 col-lg-5 graph-section-wrapper">
            <div class="graph-section">
                <h3 class="product-label">Product with specific labels</h3>
                <h5 class="graph-header">Data from recent 5 Keyword relevance crawls</h5>
                <div class="canavas-section" style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" [colors]="colors">
                    </canvas>
                </div>
            </div>
            <div class="organic-cloud-section hidden-xs hidden-sm hidden-md">
                    <h3 class="product-label">Organic Keyword Cloud</h3>
                    <div class="home-section-labels">
                        <a class="organic-cloud-labels">adipiscing (1)</a>
                        <a class="organic-cloud-labels">bibh (1)</a>
                        <a class="organic-cloud-labels">commade (1)</a>
                        <a class="organic-cloud-labels">dolor (1)</a>
                        <a class="organic-cloud-labels">els (1)</a>
                        <a class="organic-cloud-labels">eu (1)</a><br>
                        <img class="magna-text" src="assets/images/magna-text.png"/>(2)
                        <span class="organic-cloud-labels">massa (1)</span>
                        <span class="organic-cloud-labels">maximus (1)</span>
                        <span class="organic-cloud-labels">product (1)</span>
                    </div>
            </div>
        </div>
        <div class="organic-cloud-section hidden-lg col-xs-12 col-sm-12 col-md-12">
            <h3 class="product-label">Organic Keyword Cloud</h3>
            <div class="home-section-labels">
                <a class="organic-cloud-labels">adipiscing (1)</a>
                <a class="organic-cloud-labels">bibh (1)</a>
                <a class="organic-cloud-labels">commade (1)</a>
                <a class="organic-cloud-labels">dolor (1)</a>
                <a class="organic-cloud-labels">els (1)</a>
                <a class="organic-cloud-labels">eu (1)</a>
                <br>
                <img class="magna-text" src="assets/images/magna-text.png" />(2)
                <span class="organic-cloud-labels">massa (1)</span>
                <span class="organic-cloud-labels">maximus (1)</span>
                <span class="organic-cloud-labels">product (1)</span>
        </div>
    </div>
</div>