<!-- <div class="run-history-container">
  <div class="job-results">
    <div class="job-results-header">
      <span class="result-header-text">Job Run History</span>
    </div>
    <table class="job-results-table">
      <th>#</th>
      <th>Run Executed at</th>
      <th>Status</th>
      <th>Result</th>
      <tr>
        <td>1</td>
        <td>Sun, 11 Aug 2019 at 4:38:19 PM</td>
        <td>Success</td>
        <td>
          <a (click)="loadResults()">View Result</a>
        </td>
      </tr>
    </table>
  </div>
</div> -->
<app-job-details [headerTitle]="headerTitle" [jobHeaders]="jobHeaders" [productDetails]="productDetails" [actionItems]="actionItems">
  <ng-template #lineHeader let-line>
    <a class="action-icons" (click)="navigateToTabs(line.route)">{{line?.icon}}</a>
  </ng-template>
</app-job-details>